				<!-- Header -->
<header id="header">
  <h1>Desafio 02</h1>
  <p>Conozca más de nosotros <%= link_to "INICIO", 'inicio'%></p>
  <p>Conozca más de nosotros <%= link_to "NOSOTROS", 'about'%></p>
  <ul class="icons">
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
    <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
  </ul>
</header>
